<%- include("./partials/head.ejs") %>
<body>
  
  <%- include("./partials/nav.ejs") %>

  <div class="blogs content">
    <h2>About Us</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo animi nobis, dicta voluptas labore dolores assumenda quo repellat voluptate dolore odio atque. Adipisci, fugiat porro cum veritatis voluptate maiores quasi!</p><br>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum labore ex, officiis aliquam laudantium illum, quos at illo nulla praesentium quod ipsum? Velit quia ipsum vero sit consectetur voluptatibus omnis?</p><br>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque maiores quisquam sit accusamus incidunt cupiditate placeat labore accusantium? Quia neque culpa omnis libero rerum illo nostrum mollitia ipsam? Quos, natus?</p>
  </div>
  <%- include("./partials/footer.ejs") %>
</body>
</html>